@import "tailwindcss";

#root {
  background-color: black;
  font-family: "JetBrains Mono", monospace;
  color: white;
  font-size: 14px;
}

.jetbrains-mono-main {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
